backend/admin-sdk-cred.json
backend/dump.rdb
.env

# umbrel icons
titanic/*.png
# videos
*.MP4
*.M4v
*.MOV

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Rust build artifacts
/titanic/target/
Cargo.lock

# Node modules
node_modules/

# Python cache
*.egg-info/
.mypy_cache/