blinker==1.9.0
click==8.1.8
ffmpeg-python==0.2.0
firebase-admin==6.8.0 # https://github.com/firebase/firebase-admin-python/issues/803 wtf
Flask==3.1.0
flask-cors==5.0.1
future==1.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
redis==5.2.1
rq==2.2.0
Werkzeug==3.1.3