# Required:
FIREBASE_PROJECT_ID=id

# Optional, if values not provided, defaults are used:
IS_DEV=boolean # default: false
BIND_ADDRESS=0.0.0.0:3029 # bind address, default is 0.0.0.0:3029
PLEX_MEDIA_PATH=/downloads # default: /downloads