# Titanic Umbrel Component Configuration

# Required: Your Firebase Project ID
FIREBASE_PROJECT_ID=id
FIREBASE_PROJECT_NUMBER=1234

# Optional: Server bind address (default: 0.0.0.0:3029)
BIND_ADDRESS=0.0.0.0:3029

# Optional: Development mode (default: false)
# When true, skips Firebase authentication for easier testing.
# IS_DEV=true

# Optional: Plex media directory path
PLEX_MEDIA_PATH=/data/media 